.blocFlex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    article {
        flex: 1 1 200px;
        border: 1px solid black;
        border-radius: 10%;
        padding: 2em;
        margin: 1em;

        background-color: #fff;
    }
}