.site__footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: rgb(0, 0, 0);
    padding: 6em;
}

.site__footer section {
    border: 1px solid #aaa;
    border-radius: 10px;
    flex: 1 1 200px;
    padding: 2rem;
    
}