.site_footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgb(98, 24, 24);
    color: #fff;
    padding: 2em;
}

.site_footer section {
    border: 1px solid #aaa;
    flex: 1 1 200px;
    
}