// .site__header {}

.site__header__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #73D2DE;
    border: 1px solid green;
}

.logoMenu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu-entete-container { // nav
    
    .menu{ // ul
        display : flex;
        list-style-type: none;
        justify-content: flex-start;
        .menu-item { //li
            color : rgb(0, 42, 85);
            a {
              display : block;
              padding : 5px 20px;
              text-decoration: none;

              transition: 0.3s ease;
              color: rgb(239, 4, 4);
              font-size: 20px;
              text-decoration: none;
              padding: 20px 0;
              margin: 0 20px;

              &:hover {
                border-top: 4px solid rgb(239, 4, 4);
                border-bottom: 4px solid rgb(239, 4, 4);
                padding: 6px 0; 
              }
            }
        }
    }
    }