 main {
        padding-left:2em;
        padding-right: 2em;

        background: rgb(144,143,166);
        background: linear-gradient(90deg, rgba(144,143,166,1) 0%, rgba(201,120,42,1) 35%, rgba(164,180,17,1) 62%, rgba(223,177,196,1) 100%, rgba(0,212,255,1) 100%);
}


